<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: FESTIVAL관리자페이지</title>
    <!--  common.css 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/festivalAdmin.css}">
    <script defer th:src="@{/bbs/resources/scripts/festivalAdmin.js}"></script>
</head>
<body id="smoothScroll">
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>

<!--  main  -->
<main th:if="${session.user != null && session.user.getEmail().equals('admin@admin')}">
    <!--  productSection1  -->
    <section class="home-section1" id="homeSection1">
        <!--  Section1  -->
        <div class="title-box1" id="titleBox1">
            <div class="title">FESTIVAL ADMIN</div>
            <div class="title-content">Festival 정보 및 관련 리뷰를 관리하는 관리자 페이지입니다.
            </div>
        </div>
        <!--  Section2  -->
        <div class="title-box2" id="titleBox2">
            <table>
                <tbody>
                <tr>
                    <td class="free">
                        <div class="free-title">
                            Festival Info
                        </div>
                        <div class="free-content">
                            <div>Control Festival Info</div>
                            <div class="free-button">
                                <a th:href="@{/festival/festivalAdminFestivalRead}">GO</a>
                            </div>
                        </div>
                    </td>
                    <td class="team">
                        <div class="team-title">
                            Festival Comment
                        </div>
                        <div class="team-content">
                            <div>Control Festival Comment</div>
                            <div class="team-button">
                                <a th:href="@{/festival/festivalAdminCommentRead}">GO</a>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>