<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emptybeer.etb.mappers.IBasicBbsMapper">

    <select id="selectBoardById" resultType="com.emptybeer.etb.entities.bbs.BoardEntity">
        SELECT `id`   AS `id`,
               `text` AS `text`
        FROM `etb_bbs`.`boards`
        WHERE BINARY `id` = #{id}
        LIMIT 1
    </select>

    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.emptybeer.etb.entities.bbs.BasicArticleEntity">
        INSERT INTO `etb_bbs`.`basic_articles` (`user_email`, `board_id`, `title`, `content`, `view`, `written_on`,
                                                `modified_on`)
        VALUES (#{userEmail}, #{boardId}, #{title}, #{content}, #{view}, IFNULL(#{writtenOn}, DEFAULT(`written_on`)),
                IFNULL(#{modifiedOn}, DEFAULT(`modified_on`)))
    </insert>

    <insert id="insertImage"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.emptybeer.etb.entities.bbs.ImageEntity">
        INSERT INTO `etb_bbs`.images (file_name, file_mime, data)
        VALUES (#{fileName}, #{fileMime}, #{data})
    </insert>

    <select id="selectImageByIndex"
            resultType="com.emptybeer.etb.entities.bbs.ImageEntity">
        SELECT `index`   AS `index`,
               file_name AS `fileName`,
               file_mime AS `fileMime`,
               data      AS `data`
        FROM `etb_bbs`.images
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectIndex" resultType="com.emptybeer.etb.vos.BasicArticleVo">
        SELECT `basicArticle`.`index`       AS `index`,
               `basicArticle`.`user_email`  AS `userEmail`,
               `basicArticle`.`board_id`    AS `boardId`,
               `basicArticle`.`title`       AS `title`,
               `basicArticle`.`content`     AS `content`,
               `basicArticle`.`view`        AS `view`,
               `basicArticle`.`written_on`  AS `writtenOn`,
               `basicArticle`.`modified_on` AS `modifiedOn`,
               `user`.`nickname`       AS `userNickname`
        FROM `etb_bbs`.`basic_articles` AS `basicArticle`
                 LEFT JOIN `etb_member`.`users` AS `user` ON `basicArticle`.`user_email` = `user`.`email`
        WHERE BINARY `index` = #{index}
        LIMIT 1
    </select>

    <update id="updateArticle" parameterType="com.emptybeer.etb.vos.BasicArticleVo">
        update `etb_bbs`.`basic_articles`
        SET `user_email`  = #{userEmail},
            `board_id`    = #{boardId},
            `title`       = #{title},
            `content`     = #{content},
            `view`        = #{view} + 1,
            `written_on`  = #{writtenOn},
            `modified_on` = #{modifiedOn}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

</mapper>