<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emptybeer.etb.mappers.IBbsMapper">
    <select id="selectBoardById" resultType="com.emptybeer.etb.entities.bbs.BoardEntity">
        SELECT `id`   AS `id`,
               `text` AS `text`
        FROM `etb_bbs`.`boards`
        WHERE BINARY `id` = #{id}
        LIMIT 1
    </select>
    <select id="selectBeerByIndex" resultType="com.emptybeer.etb.entities.data.BeerEntity">
        SELECT `index`        AS `index`,
               `name`         AS `name`,
               image          AS `image`,
               image_type     AS `imageType`,
               mfr            AS `mfr`,
               calorie        AS `calorie`,
               volume         AS `volume`,
               degree         AS `degree`,
               `description`  AS `description`,
               category_index AS `categoryIndex`,
               created_on     AS `createdOn`,
               modified_on    AS `modifiedOn`
        FROM etb_data.beers
        WHERE `index` = #{beerIndex}
    </select>
    <insert id="insertReviewArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.emptybeer.etb.entities.bbs.ReviewArticleEntity">
        INSERT INTO `etb_bbs`.`review_articles` (user_email, beer_index, score, content_good, content_bad, view,
                                                 written_on, modified_on)
        VALUES (#{userEmail}, #{beerIndex}, #{score}, #{contentGood}, #{contentBad}, #{view},
                IFNULL(#{writtenOn}, DEFAULT(`written_on`)),
                IFNULL(#{modifiedOn}, DEFAULT(`modified_on`)))
    </insert>
    <select id="selectReviewByBeerIndex" resultType="int">
        SELECT COUNT(*)
        FROM etb_bbs.review_articles
        WHERE user_email = #{userEmail}
          AND beer_index = #{beerIndex}
    </select>
</mapper>