<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emptybeer.etb.mappers.IDataMapper">
    <select id="selectBeerByIndex"
            resultType="com.emptybeer.etb.vos.BeerVo">
        SELECT `beer`.`index`          AS `index`,
               `beer`.`name`           AS `name`,
               `beer`.image            AS `image`,
               `beer`.image_type       AS `imageType`,
               `beer`.`category_index` AS `categoryIndex`,
               `beerCategory`.`text`   AS `categoryText`,
               `beer`.created_on       AS `createdOn`,
               `beer`.modified_on      AS `modifiedOn`
        FROM `etb_data`.`beers` AS `beer`
                 LEFT JOIN `etb_data`.`beer_categories` AS `beerCategory`
                           ON `beer`.`category_index` = `beerCategory`.`index`
        WHERE `beer`.`index` = #{beerIndex}
    </select>

    <select id="selectBeer"
            resultType="com.emptybeer.etb.vos.BeerVo">
        SELECT `beer`.`index`          AS `index`,
               `beer`.`name`           AS `name`,
               `beer`.image            AS `image`,
               `beer`.image_type       AS `imageType`,
               `beer`.`category_index` AS `categoryIndex`,
               `beerCategory`.`text`   AS `categoryText`,
               `beer`.created_on       AS `createdOn`,
               `beer`.modified_on      AS `modifiedOn`
        FROM `etb_data`.`beers` AS `beer`
                 LEFT JOIN `etb_data`.`beer_categories` AS `beerCategory`
                           ON `beer`.`category_index` = `beerCategory`.`index`
    </select>


    <!--    페이징  -->
    <select id="selectBeerCountByBeerIndex"
            resultType="int">
        SELECT COUNT(0)
        FROM `etb_data`.`beers` AS `beer`
        WHERE `beer`.`index` = #{beerIndex}

        <if test="criterion != null and criterion.equals('nickname')">
            LEFT JOIN `study_member`.`users` AS `user` ON `articles`.`user_email` = `user`.`email`
        </if>
        WHERE `board_id` = #{boardId}
        <if test="criterion != null and criterion.equals('title')">
            AND REPLACE(`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        </if>
        <if test="criterion != null and criterion.equals('all')">
            AND (REPLACE(`title`,' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
            OR REPLACE(`content`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%'))
        </if>
        <if test="criterion != null and criterion.equals('nickname')">
            AND BINARY `user`.`nickname` = #{keyword}
        </if>
    </select>



</mapper>