@charset "UTF-8";
/*타이틀 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/*카테고리 메뉴 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/*카테고리 content 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


html {
    width: 100%;
    height: 100%;
}


body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*main*/
body > main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: auto;
}

/*상단 타이틀 section*/
body > main > .beer-section {
    width: 100%;
    height: 100%;
    /* margin-bottom: 3rem;*/
}

/*beerSection1*/
body > main > .beer-section > .title-box1 {
    background-image: url("/resources/images/home-background.png");
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 36%;
    border-bottom: 0.0625rem solid rgb(63 56 56 / 41%);

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/*타이틀 글씨*/
body > main > .beer-section > .title-box1 > .title {
    font-size: 3rem;
    font-family: 'Secular One', sans-serif;
}


body > main > .beer-section > .title-box1 > .title-content {
    margin-bottom: 2.5rem;
    font-family: 'Gowun Batang', serif;
}


/*section2*/
body > main > .beer-section > .title-box2 {
    width: 100%;
    background-color: #151213;
    height: 100%;

}

body > main > .beer-section > .title-box2 > table {
    width: 100%;
    height: 100%;

    border-collapse: collapse;
}

body > main > .beer-section > .title-box2 > table > tbody {
    width: 100%;
    height: 100%;
}

body > main > .beer-section > .title-box2 > table > tbody > tr {
    width: 100%;
    height: 100%;
}

/*카테고리 탭*/
body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab {
    background-color: rgb(19 2 0 / 59%);
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*카테고리 타이틀 - 모아보기, 회원정보 수정*/
body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody > .category-title {
    font-family: 'Do Hyeon', sans-serif;
    width: 100%;
    height: 4rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(57 15 15 / 55%);

}

/*카테고리 content*/
body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody > .category-content {
    width: 100%;
    height: 4rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(0, 0, 0, 33%);

}

/*북마크*/
body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody > .content5 {
    background-color: rgb(131 140 22 / 34%);
}


/*카테고리 content hover시*/
body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody > .category-content:hover {
    background-color: rgb(220, 213, 215, 10%);
    cursor: pointer;

}

/*카테고리 content 안 td margin */
body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody > .category-content > td {
    font-family: 'Do Hyeon', sans-serif;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody > .category-content > td > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody > .category-content > td > a > div {
    margin-right: 3rem;
}

/*잔이비어 contact 정보*/
body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody > .contact {
    height: 15rem;
}


body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab2 {
    width: 80%;
    background-color: #080506;
}

body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-collapse: collapse;
    border: 0.125rem solid rgb(100 93 38 / 21%);
}

body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}