@charset "UTF-8";
/*COMMUNITY 타이틀 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


html {
    width: 100%;
    height: 100%;
}


body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*main*/
body > main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: auto;
}

/*상단 타이틀 section*/
body > main > .beer-section {
    width: 100%;
    height: 100%;
    /* margin-bottom: 3rem;*/
}

/*beerSection1*/
body > main > .beer-section > .title-box1 {
    background-image: url("/resources/images/home-background.png");
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 36%;
    /*position: fixed;*/

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/*BEER 타이틀 글씨*/
body > main > .beer-section > .title-box1 > .title {
    font-size: 3rem;
    font-family: 'Secular One', sans-serif;
}


/*다양한 맥주를 소개합니다.*/
body > main > .beer-section > .title-box1 > .title-content {
    margin-bottom: 2.5rem;
    font-family: 'Gowun Batang', serif;
}


/*section2*/
body > main > .beer-section > .title-box2 {
    width: 100%;
    background-color: #dcd5d7;
    height: 100%;
}

body > main > .beer-section > .title-box2 > table {
    width: 100%;
    height: 100%;
}

body > main > .beer-section > .title-box2 > table > tbody > tr {
    width: 100%;
    height: 100%;
}

/*카테고리 탭*/
body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab {
    background-color: red;
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab2 {
    width: 80%;
}

body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table {
    height: 100%;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-collapse: collapse;
}

body > main > .beer-section > .title-box2 > table > tbody > tr > .category-tab > table > tbody {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}