<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: BEER</title>
    <!--  common.css 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/data/resources/stylesheets/beer.css}">
    <script defer th:src="@{/data/resources/scripts/beer.js}"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>

<!--  main  -->
<main>
    <!--  beerSection1  -->
    <section class="beer-section" id="beerSection">
        <!--  Section1  -->
        <div class="title-box1" id="titleBox1">
            <div class="title">BEER</div>
            <div class="title-content">다양한 맥주를 소개합니다.
            </div>
            <div class="beer-select-border">
                <form>
                    <select class="border">
                        <option value="" selected disabled>맥주 종류를 선택해 주세요
                        </option>
                        <option class="nat" value="">국내맥주</option>
                        <option class="for" value="">해외맥주</option>
                    </select>
                    <input class="find-beer" type="submit" value="찾기">
                </form>
            </div>
        </div>
        <!--  Section2  -->
        <div class="title-box2" id="titleBox2">
            <ul class="item-container">
                <li class="item">
                    <a class="link" href="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img alt="" class="image" src="/resources/images/1866%20블론드%20500ml.jpg"></td>
                                    <td>1866 블론드</td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img alt="" class="image" src="/resources/images/1866%20블론드%20500ml.jpg"></td>
                                    <td>1866 블론드</td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img alt="" class="image" src="/resources/images/1866%20블론드%20500ml.jpg"></td>
                                    <td>1866 블론드</td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img alt="" class="image" src="/resources/images/1866%20블론드%20500ml.jpg"></td>
                                    <td>1866 블론드</td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img alt="" class="image" src="/resources/images/1866%20블론드%20500ml.jpg"></td>
                                    <td>1866 블론드</td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img alt="" class="image" src="/resources/images/1866%20블론드%20500ml.jpg"></td>
                                    <td>1866 블론드</td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img alt="" class="image" src="/resources/images/1866%20블론드%20500ml.jpg"></td>
                                    <td>1866 블론드</td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img alt="" class="image" src="/resources/images/1866%20블론드%20500ml.jpg"></td>
                                    <td>1866 블론드</td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img alt="" class="image" src="/resources/images/1866%20블론드%20500ml.jpg"></td>
                                    <td>1866 블론드</td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </li>
            </ul>
        </div>

    </section>
</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>