<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: 마이페이지</title>
    <!--  common.css + common.js 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <!--  myPage.css 연결  -->
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/changeAddress.css}">
    <!--  myPage.js 연결  -->
    <script defer th:src="@{/member/resources/scripts/changeAddress.js}"></script>
    <!--  카카오 주소 찾기 API  -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body th:if="${session.user != null}">
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<!--  main  -->
<main>
    <form id="form">
        <!--        <input type="hidden" th:value="${session.userEmail}" name="email">-->
        <!--  beerSection1  -->
        <section class="beer-section" id="beerSection">
            <!--  Section1  -->
            <div class="title-box1" id="titleBox1">
                <div class="title">MY PAGE</div>
                <div class="title-content">잔이비어 마이페이지</div>
            </div>
            <!--  Section2  -->
            <div class="title-box2" id="titleBox2">
                <table>
                    <tbody>
                    <tr>
                        <!--  왼쪽 섹션  -->
                        <td class="category-tab">
                            <table>
                                <tbody>
                                <tr class="category-title home">
                                    <td class="my-page-home">
                                        <a th:href="@{/member/myPage}">
                                            MY PAGE
                                        </a>

                                    </td>
                                </tr>
                                <tr class="category-title">
                                    <td>모아보기</td>
                                </tr>
                                <tr class="category-content">
                                    <td>
                                        <a th:href="@{/memberBbs/myArticle}">
                                            <div>작성한 글 보기</div>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="category-content">
                                    <td>
                                        <a th:href="@{/memberBbs/myComment}">
                                            <div>작성한 댓글 보기</div>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="category-content">
                                    <td>
                                        <a th:href="@{/memberBbs/myLike}">
                                            <div>추천한 글 보기</div>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="category-title">
                                    <td>
                                        회원정보 수정
                                    </td>
                                </tr>
                                <tr class="category-content">
                                    <td>
                                        <a th:href="@{/member/changeNickname}">
                                            <div>닉네임 변경</div>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="category-content">
                                    <td>
                                        <a th:href="@{/member/changeContact}">
                                            <div>연락처 변경</div>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="category-content content6">
                                    <td>
                                        <a th:href="@{/member/changeAddress}">
                                            <div>주소 변경</div>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="category-content">
                                    <td><a th:href="@{/member/delete}">
                                        <div>회원 탈퇴</div>
                                    </a></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <!--  오른쪽 섹션  -->
                        <td class="category-tab2">
                            <div class="change-nickname-container">
                                    <span class="profile-container">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="nick" th:text="${session.user.nickname}">유저 닉네임</span>
                                                    <span>님</span>
                                                </div>
                                                <div class="email" th:text="${session.user.getEmail()}">유저 이메일</div>
                                            </div>
                                        </div>
                                    </span>
                                <div>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div class="address-title">
                                                        주소 변경
                                                    </div>
                                                </label>
                                                <label class="label address">
                                                    <span hidden>우편번호</span>
                                                    <input class="--object-input input" maxlength="6"
                                                           name="addressPostal" id="addressPostal"
                                                           placeholder="우편번호" readonly type="text">
                                                    <input class="--object-button address-button" name="addressFind"
                                                           value="주소 찾기" type="button">
                                                </label>
                                                <label class="label address">
                                                    <span hidden>기본 주소</span>
                                                    <input class="--object-input input" maxlength="100"
                                                           name="addressPrimary" id="addressPrimary"
                                                           placeholder="주소 찾기를 통해 주소를 입력해 주세요" readonly type="text">
                                                </label>
                                                <label class="label address">
                                                    <span hidden>상세 주소</span>
                                                    <input class="--object-input input" maxlength="100"
                                                           name="addressSecondary" id="addressSecondary"
                                                           placeholder="상세주소를 입력해 주세요" type="text">
                                                </label>
                                                <div class="panel address" rel="addressFindPanel">
                                                    <div class="dialog" rel="addressFindPanelDialog"></div>
                                                </div>

                                                <label class="submit-container">
                                                    <input type="submit" value="변경하기" class="modify" id="modify"
                                                           name="modify">
                                                </label>

                                                <div class="warning" rel="warning">
                                                    <div class="text" rel="warningText"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </form>

</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>