<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: 회원탈퇴</title>
    <!--  common.css + common.js 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/delete.css}">
    <script defer th:src="@{/member/resources/scripts/delete.js}"></script>
</head>
<body id="smoothScroll">
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<!--  main  -->
<main>
    <form id="form">
        <table class="table">
            <caption class="title">탈퇴하기</caption>
            <tbody>
                <!--이메일 입력창-->
                <tr>
                    <td>
                        <label class="email">
                            <input autofocus class="email-input" maxlength="50" name="email" id="email"
                                   placeholder="이메일 주소를 입력해 주세요." type="email">
                        </label>
                    </td>
                </tr>
                <!-- 비밀번호 입력창-->
                <tr>
                    <td>
                        <label class="password">
                            <input autofocus class="password-input" maxlength="50" name="password" id="password"
                                   placeholder="비밀번호를 입력해 주세요." type="password">
                        </label>
                    </td>
                </tr>
                <!--탈퇴하기 버튼-->
                <tr>
                    <td>
                        <label class="delete-container">
                            <button id="deleteUserButton">회원탈퇴</button>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>그동안 잔이비어를 이용해주셔서 감사합니다.</td>
                </tr>
            </tbody>
        </table>
    </form>
</main>
</body>
</html>