<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: 마이페이지</title>
    <!--  common.css + common.js 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <!--  myPage.css 연결  -->
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/myPage.css}">
    <!--  myPage.js 연결  -->
    <script defer th:src="@{/member/resources/scripts/myPage.js}"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<!--  main  -->
<main>
    <form name="form" id="form">
        <section class="my-page" id="myPage">
            <div class="section1" id="titleBox">
                <div class="title">MY PAGE</div>
            </div>
            <div class="section2">
            <!--  마이페이지 메뉴 탭   -->
                <aside>
                    <nav>
                        <div>
                            <table>
                                <tbody>
                                    <tr class="tab-header">
                                        <th>
                                            <a>모아보기</a>
                                        </th>
                                    </tr>
                                    <tr class="tab-content">
                                        <td>
                                            <a>작성 글 보기</a>
                                        </td>
                                    </tr>
                                    <tr class="tab-content">
                                        <td>
                                            <a>작성 댓글 보기</a>
                                        </td>
                                    </tr>
                                    <tr class="tab-content">
                                        <td>
                                            <a>좋아요한 글 보기</a>
                                        </td>
                                    </tr>
                                    <tr class="tab-header">
                                        <th>
                                            <a>회원정보 수정</a>

                                        </th>
                                    </tr>
                                    <tr class="tab-content">
                                        <td>
                                            <a>닉네임 변경</a>
                                        </td>
                                    </tr>
                                    <tr class="tab-content">
                                        <td>
                                            <a>주소 변경</a>
                                        </td>
                                    </tr>
                                    <tr class="tab-content">
                                        <td>
                                            <a th:href="@{/member/delete}">회원탈퇴</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </nav>
                </aside>
            </div>
        </section>
    </form>
</main>
<!--  footer  -->
<!--<th:block th:replace="~{fragments/body :: footer}"></th:block>-->
</body>
</html>