<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="max-width: 600px;"></div>
<!--<div style="background-color: rgb(33, 47, 61); border-bottom: 2px solid rgb(86, 101, 115); color: rgb(234, 236, 238); font-size: 32px; font-size: 28px; font-weight: bold; padding: 20px 30px;">-->
<div style="background-color: rgba(72,136,40,0.6); border-bottom: 2px solid rgb(86, 101, 115); color: rgb(234, 236, 238); font-size: 32px; font-size: 28px; font-weight: bold; padding: 20px 30px;">
    잔이비어
</div>
<div style="font-size: 14px; line-height: 133%; padding: 30px;">
    <span>안녕하세요!&nbsp;<b>잔이비어</b>입니다.</span>
    <br>
    <br>
    <span>해당 이메일 주소로 잔이비어에 비밀번호 재설정을 요청하여 인증할 수 있는 링크를 발송하였습니다. 본인이 요청한 것이 맞다면 아래 링크를 클릭하여 이메일 인증을 완료한 뒤 비밀번호를 재설정해 주시기 바랍니다.</span>
    <br>
    <br>
    <a href="#"
       style="background-color: rgba(72,136,40,0.6); border-radius:0.375rem; color:rgb(234, 236, 238); padding:0.75rem 1rem; text-decoration: none; user-select: none;"
       target="_blank"
       th:href="@{__${domain}__/member/recoverPasswordEmail (email=${email}, code=${code}, salt=${salt})}">인증하기</a>

    <br>
    <br>
    <span>만약, 이메일 서비스 제공자의 보안 정책에 따라 위 링크가 클릭되지 않는다면 아래의 링크를 복사하여 주소창에 붙여넣어 사용할 수도 있습니다.</span>
    <br>
    <br>
    <code style="background-color: rgb(234, 236, 238); color:rgb(86, 101, 115); display: inline-block; font-size: 13px; padding: 15px; max-width: 100%"
          th:text="${domain + '/member/recoverPasswordEmail?email=' + email + '&code=' + code + '&salt=' + salt}"></code>
    <span>해당 링크를 타인에게 알려줄 경우 개인정보 도용의 위험이 있습니다. 절대 타인에게 해당 링크를 알려주지 마세요.</span>
    <br>
    <br>
    <span>혹시 본인이 요청한 적이 없다면 이 이메일을 폐기해 주시기 바랍니다.</span>
    <br>
    <br>
    <span>감사합니다.</span>
</div>
<div style="background-color: rgb(236,238,234); border-top: 2px solid rgb(213, 216, 220); color:rgb(44, 62, 80); font-size: 12px; padding: 20px 30px;">
    <span>해당 이메일은 발신 전용 이메일 주소를 사용하여 발송되었고 회신이 불가합니다. 또한 경우에 따라 이메일 수신을 거부하였어도 이와 상관없이 발송되는 이메일이 있을 수 있으므로 양지바랍니다.</span>
    <br>
    <br>
    <i style="color:rgb(86, 101, 115);">&copy; 2022 <a th:href="@{__${domain}__}" style="color: inherit;"
                                                       target="_black">잔이비어</a> All Rights Reserved.</i>
</div>
</body>
</html>