<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: 비밀번호 재설정</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/recoverPassword.css}">
    <script defer th:src="@{/member/resources/scripts/recoverPassword.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<main class="--main main">
    <form class="form" id="form">
        <div class="title-container">
            <h1 class="title">비밀번호 재설정</h1>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <!--                <th rowspan="2">이메일</th>-->
                <td>
                    <label class="label email">
                        <span hidden>이메일</span>
                        <input autofocus class="--object-input input1" maxlength="50" name="email" placeholder="이메일 주소를 입력해 주세요." type="email">
                    </label>
                </td>
            </tr>

            <tr>
                <td>
                    <input class="--object-button" name="emailSend" type="button" value="인증하기">
                </td>
            </tr>
            <tr class="message-row" rel="messageRow">

                <td>
                    <span class="message">
<!--                        <i class="icon fa-regular fa-hourglass"></i>-->
                        <span class="text">이메일로 링크를 전송하였습니다.<br>링크 확인 후 다시 돌아와 주세요.</span>
                    </span>
                </td>
            </tr>
            <tr class="password-row" rel="passwordRow">
                <td>
                    <label class="label password">
                        <span hidden>비밀번호</span>
                        <input class="--object-input input" maxlength="50" name="password"
                               placeholder="새로운 비밀번호를 입력해 주세요." type="password">
                    </label>
                    <label class="label password">
                        <span hidden>비밀번호 재입력</span>
                        <input class="--object-input input" maxlength="50"
                               name="passwordCheck" placeholder="비밀번호를 한 번 더 입력해 주세요."
                               type="password">
                    </label>
                    <input class="--object-button" name="recover" type="button" value="비밀번호 변경하기">
                </td>
            </tr>
            <tr class="warning-row" rel="warningRow">
                <th></th>
                <td>
                    <span class="warning">
                        <i class="icon fa-solid fa-triangle-exclamation"></i>
                        <span class="text">이메일을 입력해 주세요.</span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <input name="code" type="hidden">
        <input name="salt" type="hidden">
    </form>
</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>