@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');


/*main*/
body > main {
    background-image: url("/resources/images/home-background.png");
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

/*homeSection1*/
body > main > .home-section1 {
    /*background-color: rgb(67, 67, 72);*/

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

