@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
/*COMMUNITY 타이틀 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html {
    width: 100%;
    height: 100%;
}


body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*main*/
body > main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*상단 타이틀 section*/
body > main > .home-section1 {
    width: 100%;
    height: 100%;
    /* margin-bottom: 3rem;*/
}

/*homeSection1*/
body > main > .home-section1 > .title-box1 {
    background-image: url("/resources/images/home-background.png");
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 42%;
    /*position: fixed;*/

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/*COMMUNITY 타이틀 글씨체*/
body > main > .home-section1 > .title-box1 > .title {
    font-size: 3rem;
    font-family: 'Secular One', sans-serif;
}

/*맥주와 관련한 다양한 정보를 ~*/
body > main > .home-section1 > .title-box1 > .title-content {
    font-family: 'Gowun Batang', serif;
    margin-bottom: 3rem;
}


/*section2*/
body > main > .home-section1 > .title-box2 {
    width: 100%;
    height: 58%;
    background-color: rgba(0, 0, 0, 0.78);

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*테이블 전체 크기*/
body > main > .home-section1 > .title-box2 > table {
    width: 100%;
    height: 100%;
}

/*tr전체 정렬*/
body > main > .home-section1 > .title-box2 > table > tbody > tr {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

/*자유게시판*/
body > main > .home-section1 > .title-box2 > table > tbody > tr > .free {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    height: 100%;

    background-image: url("/home/resources/images/free.JPG");
    background-position: center;
    background-size: cover;
}

/*모임게시판*/
body > main > .home-section1 > .title-box2 > table > tbody > tr > .team {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    height: 100%;


    background-image: url("/home/resources/images/team.jpg");
    background-position: center;
    background-size: cover;
}