@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body > main {
    margin-top: 10rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*festival-imageContainer 아래 info-container도 width와 margin-left속성을 동일하게 적용*/



.festival-container{
    display: flex;
    width: 80rem;
    height: 45rem;
}

#festivalDataForm{
    color: black;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    font-family: 'Jua', sans-serif;
}

body > main > .festival-container > .festival-imageContainer{
    width: 50rem;
    height: 50rem;

}



body > main > .festival-container > .festival-imageContainer > .main-imageContainer {
    align-items: flex-start;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}


body > main > .festival-container > .festival-imageContainer > .main-imageContainer > img {
    /*padding-left: 7rem;*/
    width: 100%;
    height: 70%;
}


body > main > .festival-container > .festival-infoContainer{
    color: black;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 3rem;
    height: 75%;
    width: 50%;
    font-family: 'Jua', sans-serif;
}





body > main > .review-container{
    color: black;
    font-size: 2rem;
    width: 100%;
    margin-left: 20rem;
    font-family: 'Varela Round', sans-serif;
}


body > main > .review-container > .review-comment{
    font-weight: 600;
}




/*댓글*/
#festivalReviewForm{
    margin-top: 2rem;
    margin-bottom: 3rem;
}


#festivalReviewForm > .festivalRead-input{
    width: 890px;
    height: 50px;
    margin-bottom: 0.3rem;
}

#festivalReviewForm > .festivalRead-button{
    border-radius: 20%;
    border-color: dodgerblue;
    background-color: dodgerblue;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

#festivalReviewForm > .festivalRead-button:hover{
    border-color: #3d80bb;
    background-color: #3d80bb;
    cursor: pointer;
}





/*리뷰관련*/

#comment{
    width: 70%;
    border-top: black solid;
    position: relative;
}

#comment:last-child{
    border-bottom: black solid;
}


#comment > .festival-comment{
    position: relative;
}


#comment > .festival-comment > .comment-nickname{
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
}


#comment > .festival-comment > .comment-content{
    color: black;
    font-size: 1rem;
    padding-top: 2rem;
}

#comment > .festival-comment > .comment-content.hidden{
    display: none;
}

#comment > .festival-comment > .comment-written{
    color: black;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

#comment > .festival-comment > .comment-written.hidden{
    display: none;
}

#comment > .festival-comment > .button > .comment-button{
    position: absolute;
    right: 0px;
    bottom: 55px;
}


#comment > .festival-comment > .button > .comment-button.hidden{
    display: none;
}



#comment > .festival-comment > .button > .comment-button> .delete,
#comment > .festival-comment > .button > .comment-button> .modify{
    font-size: 0.8rem;
    color: grey;
    text-decoration-line: none;
}


#comment > .festival-comment > .modify-content > .modify-form{
    display: none;
    position: relative;
}


#comment > .festival-comment > .modify-content > .modify-form.visible{
    display: flex;
    color: black;
    font-size: 1rem;
    position: relative;
}

#comment > .festival-comment > .modify-content > .modify-form.visible > .cancel {
    font-size: 0.8rem;
    color: grey;
    position: absolute;
    right: 36px;
    bottom: 60px;
    text-decoration-line: none;
}


#comment > .festival-comment > .modify-content > .modify-form.visible > .check{
    font-size: 0.8rem;
    color: grey;
    position: absolute;
    right: 0px;
    bottom: 60px;
    border: none;
    cursor: pointer;
    width: 32px;
    background-color: white;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#comment > .festival-comment > .modify-content > .modify-form.visible > .check:focus{
    font-size: 0.8rem;
    color: grey;
    position: absolute;
    right: 0px;
    bottom: 27px;
    border: none;
    cursor: pointer;
    width: 35px;
    outline: none;
    background-color: white;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



#comment > .festival-comment > .modify-content > .modify-form.visible > .comment-modifyInput{
    width: 51rem;
    height: 3rem;
}





#foot-container {
    background-color: #f9f9f8;
    margin-bottom: 7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#foot-container > div:last-of-type {
    width: 100%;
    border-top: 1px solid #ebebea;
}

#page-container {
    margin: 0.3rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#page-container > .page {
    /*border-left: 0.0625rem solid rgb(76, 91, 105);*/
    color: black;
    font-size: 13px;
    padding: 0.3rem 0.55rem;
    margin: 0.1rem;
    text-decoration: none;
    border: solid 1px #e5e5e5;
    background-color: #fff;
}


#page-container > .page.selected{
    /*background-color: rgb(66, 81, 95);*/
    border: solid 1px #e5e5e5;
    background-color: #fff;
    color: #346aff;
}

#page-container > .page:hover {
    color: #346aff;
}






/*맵 관련*/
.map-container {
    width: 100%;
    height: 60%;
    margin-left: 20rem;
    margin-bottom: 10rem;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    font-family: 'Varela Round', sans-serif;
}

.map-container > #map{
    /*margin-left: 10rem;*/
    width: 890px;
    height: 600px;
    z-index: 0;
    margin-top: 1rem;
}