@charset "UTF-8";

body > main {
    margin-top: 10rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*festival-imageContainer 아래 info-container도 width와 margin-left속성을 동일하게 적용*/
body > main > .festival-imageContainer {
    display: flex;
    width: 80%;
    height: 80%;
    margin-left: 27rem;
}


body > main > .festival-imageContainer > .main-imageContainer {
    align-items: flex-start;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
}


body > main > .festival-imageContainer > .main-imageContainer > img {
    /*padding-left: 7rem;*/
    width: 100%;
    height: 100%;
}

/*body > main > .festival-imageContainer > .side-imageContainer {*/
/*    margin-left: 2rem;*/
/*    width: 40%;*/
/*    align-items: flex-start;*/
/*    display: block;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    overflow: hidden;*/
/*}*/

/*body > main > .festival-imageContainer > .side-imageContainer > img {*/
/*    width: 50%;*/
/*    height: 30%;*/
/*}*/

/*body > main > .festival-imageContainer > .side-imageContainer > img + img {*/
/*    padding-top: 1.25rem;*/
/*}*/


body > main > .festival-infoContainer {
    width: 75%;
    margin-top: 5rem;
    margin-left: 11rem;
    display: table;
}

body > main > .festival-infoContainer > .title{
    color: black;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    font-family: "Apple Color Emoji";
}

body > main > .festival-infoContainer > #content {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Apple Color Emoji";
    border-spacing: 0 3rem;
}

body > main > .festival-infoContainer > #content > thead > tr {
    margin-top: 3rem;
}



body > main > .festival-infoContainer > #content > thead > tr > td:first-child{
    font-weight: 700;
    font-size: 2.5rem;
}


body > main > .festival-infoContainer > #content > thead > tr > td:nth-child(2){
    padding-left: 4rem;
    text-align: center;
}

body > main > .festival-infoContainer > #content > thead > tr > td:nth-child(4){
    text-align: center;
}



body > main > .festival-infoContainer > .map-container {
    width: 75%;
    height: 60%;
    margin-left: 11rem;
    margin-bottom: 10rem;
}

body > main > .festival-infoContainer > .map-container > #map{
    /*margin-left: 10rem;*/
    width: 600px;
    height: 500px;
    z-index: 0;
}



body > main > .review-container{
    color: black;
    font-size: 2rem;
    width: 90%;
    margin-left: 11rem;
    margin-bottom: 2rem;
}





/*댓글*/
#festivalReviewForm{
    margin-bottom: 5rem;
}


#festivalReviewForm > .festivalRead-input{
    width: 800px;
    height: 50px;
}

#festivalReviewForm > .festivalRead-button{
    border-radius: 20%;
    border-color: burlywood;
    background-color: burlywood;
    width: 3rem;
    height: 2rem;
}

#festivalReviewForm > .festivalRead-button:hover{
    border-radius: 20%;
    border-color: greenyellow;
    background-color: greenyellow;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
}


/*리뷰관련*/

#comment{
    width: 80%;
    border-top: black solid;
    position: relative;
}

#comment:last-child{
    border-bottom: black solid;
}


#comment > .festival-comment{
    position: relative;
}


#comment > .festival-comment > .comment-nickname{
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
}


#comment > .festival-comment > .comment-content{
    color: black;
    font-size: 1rem;
}

#comment > .festival-comment > .comment-content.hidden{
    display: none;
}

#comment > .festival-comment > .comment-written{
    color: black;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

#comment > .festival-comment > .comment-written.hidden{
    display: none;
}

#comment > .festival-comment > .button > .comment-button{
    position: absolute;
    right: 0px;
    bottom: 27px;
}


#comment > .festival-comment > .button > .comment-button.hidden{
    display: none;
}



#comment > .festival-comment > .button > .comment-button> .delete,
#comment > .festival-comment > .button > .comment-button> .modify{
    font-size: 0.8rem;
    color: grey;
    text-decoration-line: none;
}


#comment > .festival-comment > .modify-content > .modify-form{
    display: none;
    position: relative;
}


#comment > .festival-comment > .modify-content > .modify-form.visible{
    display: flex;
    color: black;
    font-size: 1rem;
    position: relative;
}

#comment > .festival-comment > .modify-content > .modify-form.visible > .cancel {
    font-size: 0.8rem;
    color: grey;
    position: absolute;
    right: 36px;
    bottom: 28.3px;
    text-decoration-line: none;
}


#comment > .festival-comment > .modify-content > .modify-form.visible > .check{
    font-size: 0.8rem;
    color: grey;
    position: absolute;
    right: 0px;
    bottom: 27px;
    border: none;
    cursor: pointer;
    width: 32px;
    background-color: white;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#comment > .festival-comment > .modify-content > .modify-form.visible > .check:focus{
    font-size: 0.8rem;
    color: grey;
    position: absolute;
    right: 0px;
    bottom: 27px;
    border: none;
    cursor: pointer;
    width: 35px;
    outline: none;
    background-color: white;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



#comment > .festival-comment > .modify-content > .modify-form.visible > .comment-modifyInput{
    width: 45rem;
}





#foot-container {
    background-color: #f9f9f8;
    margin-bottom: 7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#foot-container > div:last-of-type {
    width: 100%;
    border-top: 1px solid #ebebea;
}

#page-container {
    margin: 0.3rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#page-container > .page {
    /*border-left: 0.0625rem solid rgb(76, 91, 105);*/
    color: black;
    font-size: 13px;
    padding: 0.3rem 0.55rem;
    margin: 0.1rem;
    text-decoration: none;
    border: solid 1px #e5e5e5;
    background-color: #fff;
}


#page-container > .page.selected{
    /*background-color: rgb(66, 81, 95);*/
    border: solid 1px #e5e5e5;
    background-color: #fff;
    color: #346aff;
}

#page-container > .page:hover {
    color: #346aff;
}