@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400&display=swap');

body {
    color: rgb(0, 0, 0);
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.review-list {
    height: auto;
    padding: 7rem 3rem 7rem 3rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.review-list > .first {
    margin: 5vh 0 1rem 0;
    font-size: 2rem;
    font-weight: 550;
    white-space: nowrap;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*삭제, 신고 초기화 버튼*/
.review-list > .first > input {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.3rem;
    margin-bottom: -1rem;
}

.review-list > .first > input:hover {
    filter: invert(20%);
}

.review-list > .first > .delete-button {
    margin: 0 0.5rem -1rem auto;
}

.review-list > .form-container {
    background-color: #555;
    color: #9a9a9a;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.review-list > .form-container > .sort {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.review-list > .form-container > .sort > .sort1,
.review-list > .form-container > .sort > .sort2 {
    cursor: pointer;
}

.review-list > .form-container > .sort > .sort1:hover,
.review-list > .form-container > .sort > .sort2:hover{
    color: white;
}

.review-list > .form-container > .sort > .sort1.selected,
.review-list > .form-container > .sort > .sort2.selected{
    color: white;
}

.review-list > .form-container > .sort > .sort-bar {
    /*display: inline-block;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0.15rem;
    color: #9a9a9a;
    user-select: none;
}

.review-list > .form-container > .search-form {
    margin-left: auto;
}

.review-list > .form-container > .search-form > .label:first-of-type > .--object-input {
    width: 4rem;
    height: 1.5rem;
    border: none;
}

.review-list > .form-container > .search-form > .label:nth-of-type(2) {
    position: relative;
}

.review-list > .form-container > .search-form > .label:nth-of-type(2) > .--object-input {
    border: none;
    width: 20rem;
    height: 1.4rem;
}

.review-list > .form-container > .search-form > .label:nth-of-type(2) > .search-button {
    position: absolute;
    width: 1rem;
    margin: 0.25rem 0 0 -1.3rem;
}

/*리뷰 테이블*/
.review-list > .review-table {
    margin-top: 0.5rem;
    border-collapse: collapse;
}

.review-list > .review-table > thead {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.review-list > .review-table > thead > tr > th {
    white-space: nowrap;
    padding: 0.5rem 0;
}

.review-list > .review-table > tbody {
    white-space: nowrap;
}

.review-list > .review-table > tbody > tr {
    border-bottom: 1px solid #ccc;
}

.review-list > .review-table > tbody > tr > td:first-of-type,
.review-list > .review-table > tbody > tr > td:nth-of-type(2) {
    text-align: center;
}

.review-list .review-container {
    padding: 2rem 0 2rem 0;
}

/*리뷰 없으면 띄우는 것*/
.review-list .review-container.blank {
    font-size: 0.9rem;
}

.review-list .review-container > .head-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.review-list .review-container > .head-container > .user-info {
    margin-bottom: 1rem;
}

.review-list .review-container > .head-container > .user-info > .nickname {
    margin-bottom: 0.2rem;
}

.review-list .review-container > .head-container > .user-info > .star-container {
    font-size: 1rem;
    color: rgb(213, 216, 220);
}

.review-list .review-container > .head-container > .user-info > .star-container > i + i {
    margin-left: -0.25rem;
}

.review-list .review-container > .head-container > .user-info > .star-container > .star.filled {
    color: rgb(255, 191, 0);
}

.review-list .review-container > .head-container > .user-info > .created-on {
    font-size: 0.75rem;
    font-weight: 300;
}

.review-list .review-container > .beer-info {
    font-size: 0.85rem;
    font-weight: 350;
    color: #888;
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
}

.review-list .review-container > .review-content {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.review-list .review-container > .review-content > .good-review {
    margin-bottom: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*좋았던 점(웃음) 아이콘 색 설정*/
.review-list .review-container > .review-content > .good-review > .icon {
    color: rgba(55, 178, 182, 80%);
    margin-right: 0.5rem;
}

.review-list .review-container > .review-content > .bad-review {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*아쉬운 점(울상) 아이콘 색 설정*/
.review-list .review-container > .review-content > .bad-review > .icon {
    color: rgba(232, 106, 106, 80%);
    margin-right: 0.5rem;
}

.review-list .review-container > .foot {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.review-list .review-container > .foot > span {
    font-size: 0.8rem;
}

.review-list .review-container > .foot > .like-count {
    font-weight: 500;
    margin-bottom: 0.1rem;
}

.review-list > .page-container {
    margin-top: 2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review-list > .page-container > .page {
    /*border-left: 0.0625rem solid rgb(76, 91, 105);*/
    color: inherit;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

.review-list > .page-container > .page.selected,
.review-list > .page-container > .page:hover {
    background-color: #555;
    border-radius: 5rem;
    color: white;
}

/*아래 쪽 삭제 및 신고 초기화 버튼*/
#buttons {
    margin-top: 0.5rem;
}

#buttons > input {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.3rem;
    margin-bottom: -1rem;
}

#buttons > input:hover {
    filter: invert(20%);
}

#buttons > .delete-button {
    margin: 0 0.5rem -1rem auto;
}