<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: FESTIVAL소개</title>
    <!--  common.css 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/festivalRead.css}">
    <script defer th:src="@{/bbs/resources/scripts/festivalRead.js}"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a8a4e7818536b52ee031c365250072a9"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>

<!--  main  -->
<main id="smoothScroll">
    <!--    margin top 10rem 지정-->

    <!--  페스티벌 관련 이미지 컨테이너  -->
    <div class="festival-imageContainer">
        <div class="main-imageContainer">
            <img th:src="@{/image (index=${festivalArticles.getIndex()})}">
        </div>
        <!--        <div class="side-imageContainer">-->
        <!--            <img src="/bbs/resources/images/cat.jpg">-->
        <!--            <img src="/bbs/resources/images/chicken.jpg">-->
        <!--            <img src="/bbs/resources/images/cow.jpg">-->
        <!--        </div>-->
    </div>

    <!--  페스티벌 관련 내용 컨테이너  -->
    <div class="festival-infoContainer">
        <div class="title" th:text="${festivalArticles.getTitle()}"></div>
        <table id="content">
            <thead>
            <tr>
                <td>Period</td>
                <td th:text="${#dates.format(festivalArticles.getDateFrom(), 'yyyy-MM-dd')}"></td>
                <td>~</td>
                <td th:text="${#dates.format(festivalArticles.getDateTo(), 'yyyy-MM-dd')}"></td>
            </tr>

            <tr>
                <td>Time</td>
                <td th:text="${#dates.format(festivalArticles.getTimeFrom(), 'HH:mm')}"></td>
                <td>~</td>
                <td th:text="${#dates.format(festivalArticles.getTimeTo(), 'HH:mm')}"></td>
            </tr>

            <tr>
                <td>Introduction</td>
                <td th:text="${festivalArticles.getDescription()}" colspan="5"></td>
            </tr>

            <tr>
                <td>Location</td>
                <td th:text="${festivalArticles.getAddress()}" colspan="5"></td>
            </tr>

            <tr>
                <td>Map</td>
            </tr>
            </thead>
        </table>

        <div class="map-container">
            <div id="map"></div>
        </div>

    </div>


    <!-- 페스티벌 댓글 컨테이너  -->
    <div class="review-container">
        <span>댓글</span>
        <form id="festivalReviewForm" th:if="${session.user != null}">
            <input class="festivalRead-input" maxlength="200" name="content" type="text" placeholder="댓글을 입력하세요(최대200자)">
            <br>
            <!--      버튼이 아닌 hidden으로 된 input은 인덱스 값을 가져오기 위한 input으로 이를 js로 보내 data를 처리해야한다.     -->
            <input name="aid" type="hidden" th:value="${festivalArticles.getIndex()}">
            <input class="festivalRead-button" type="submit" value="입력">
        </form>

        <div>

        </div>
    </div>

</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>