<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: FESTIVAL소개</title>
    <!--  common.css 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/festivalRead.css}">
    <script defer th:src="@{/bbs/resources/scripts/festivalRead.js}"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>

<!--  main  -->
<main id="smoothScroll">
    <!--    margin top 10rem 지정-->
    <div class="festival-container">
        <div class="image-container">
            <img src="https://img.insight.co.kr/static/2019/06/29/700/314b2za481tttx0f25aq.jpg">
        </div>

        <div class="content">
            <div class="title">치맥 페스티벌</div>
            <div class="festival-info">
                <table id="info-table">
                    <tr>
                        <td>Period</td>
                        <td>2022.12.01 ~ 2022.12.10</td>
                    </tr>

                    <tr>
                        <td>Address</td>
                        <td>대구광역시 달서구 공원순환로 36</td>
                    </tr>

                    <tr>
                        <td>Contact</td>
                        <td>000-1111-2222</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>