<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>잔이비어 :: Review</title>
    <!--  common.css 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/reviewList.css}">
    <script defer th:src="@{/bbs/resources/scripts/reviewList.js}"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<main>
    아직 구현안함
</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>