<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>잔이비어 :: Review</title>
    <!--  common.css 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/reviewList.css}">
    <script defer th:src="@{/bbs/resources/scripts/reviewList.js}"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<main>
    <section class="beer-detail">
        <div class="part-1">
            <div class="button-container">
                <div class="button" rel="backButton">
                    <span class="icon">
                        <i class="fa-solid fa-circle-chevron-left"></i>
                    </span>
                </div>
            </div>
            <div class="beer-image">
                <img th:src="@{/resources/images/바르슈타이너 프리미엄 필스너.webp}" alt="">
            </div>
            <div class="content-container">
                <div class="title">
                    <div class="beer-name">바르슈타이너 프리미엄 필스너 500ml</div>
                    <span class="like-button" rel="likeButton">
                        <i class="fa-regular fa-heart visible"></i>
                        <i class="fa-solid fa-heart"></i>
                        <div class="like-count">20</div>
                    </span>
                </div>
                <div class="content">
                    <div class="page-1 visible">
                        세계적 명성의 수제맥주 브랜드 미켈러(Mikkeller)와 더부스가 함께 만든 페일에일로, 대동강 물이 들어가지 않았다는 이유로
                    </div>
                    <div class="page-2">
                        세계적 명성의 수제맥주 브랜드 미켈러(Mikkeller)와 더부스가 함께 만든 페일에일로, 대동강 물이 들어가지 않았다는 이유로 중간의 '동' 자를 Censored(검열되었다) 스티커로 가린 채 '대강 페일에일'로 판매되고 있다. 오렌지, 감귤, 청포도를 연상시키는 홉의 향기가 기분 좋게 후각을 자극하며, 가볍고 고소한 몰트의 맛과 쌉싸름한 끝 맛이 깔끔하게 이어지는 훌륭한 밸런스의 맥주. 가벼운 바디감과 적은 쓴맛으로 수제맥주에 익숙하지 않은 사람도 부담 없이 마실 수 있다.
                        세계적 명성의 수제맥주 브랜드 미켈러(Mikkeller)와 더부스가 함께 만든 페일에일로, 대동강 물이 들어가지 않았다는 이유로 중간의 '동' 자를 Censored(검열되었다) 스티커로 가린 채 '대강 페일에일'로 판매되고 있다. 오렌지, 감귤, 청포도를 연상시키는 홉의 향기가 기분 좋게 후각을 자극하며, 가볍고 고소한 몰트의 맛과 쌉싸름한 끝 맛이 깔끔하게 이어지는 훌륭한 밸런스의 맥주. 가벼운 바디감과 적은 쓴맛으로 수제맥주에 익숙하지 않은 사람도 부담 없이 마실 수 있다.
                    </div>
                    <input type="button" rel="detailButton" value="자세히 보기">
                </div>
            </div>
        </div>
        <table class="content-table part-2">
            <tbody>
            <tr>
                <th>제조사</th>
                <td>바르슈타이너</td>
            </tr>
            <tr>
                <th class="even">용량</th>
                <td>500ml</td>
            </tr>
            <tr>
                <th> 도수</th>
                <td>4.8%</td>
            </tr>
            <tr>
                <th class="even">카테고리</th>
                <td>해외맥주</td>
            </tr>
            </tbody>
        </table>
    </section>
<!--    <section class="review-list">-->
<!--        <div>Review</div>-->
<!--        <div class="beer-name">바르슈타이너 프리미엄 필스너 500ml</div>-->
<!--        <form class="search-form" id="searchForm" method="get">-->
<!--            <label class="label">-->
<!--                <span hidden>검색 기준</span>-->
<!--                <select name="criterion" class="&#45;&#45;object-input" th:with="criterion = ${#request.getParameter('criterion')}">-->
<!--                    &lt;!&ndash;                    th:with는 변수 선언임&ndash;&gt;-->
<!--                    <option value="all" th:selected="${criterion == null || criterion.equals('all')}">내용</option>-->
<!--                    <option value="nickname" th:selected="${criterion != null && criterion.equals('nickname')}">작성자</option>-->
<!--                </select>-->
<!--            </label>-->
<!--            <label class="label">-->
<!--                <span hidden>검색어</span>-->
<!--                <input type="text" class="&#45;&#45;object-input" maxlength="50" name="keyword" placeholder="검색어를 입력해 주세요." th:value="${#request.getParameter('keyword')}">-->
<!--            </label>-->
<!--            <input type="hidden" name="bid" th:value="${board.getId()}">-->
<!--            <input type="submit" class="search-button" value="검색">-->
<!--        </form>-->
<!--        <table class="table" id="table">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>번호</th>-->
<!--                <th>제목</th>-->
<!--                <th>작성자</th>-->
<!--                <th>조회수</th>-->
<!--                <th>추천수</th>-->
<!--                <th>일시</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="article : ${articles}">-->
<!--                <td th:text="${article.getIndex()}"></td>-->
<!--                <td>-->
<!--                    <a class="title" th:href="@{/bbs/read (aid=${article.getIndex()})}">-->
<!--                        <span class="text" th:text="${article.getTitle()}"></span>-->
<!--                        <span class="comment" th:text="${'[' + article.getCommentCount() + ']'}"></span>-->
<!--                    </a>-->
<!--                </td>-->
<!--                <td th:text="${article.getUserNickname()}"></td>-->
<!--                <td th:text="${article.getView()}"></td>-->
<!--                <td>0</td>-->
<!--                <td th:text="${#dates.format(article.getModifiedOn(), 'yyyy-MM-dd HH:mm:ss')}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--            <tfoot>-->
<!--            <tr>-->
<!--                <td colspan="6">-->
<!--                    <div class="page-container"-->
<!--                         th:with="urlBuilder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">-->
<!--                        <a class="page"-->
<!--                           th:href="@{${urlBuilder.replaceQueryParam('page', paging.minPage).build().toUriString()}}"-->
<!--                           th:if="${paging.requestPage > 1}">-->
<!--                            <i class="fa-solid fa-angles-left"></i>-->
<!--                        </a>-->
<!--                        <a class="page"-->
<!--                           th:href="@{${urlBuilder.replaceQueryParam('page', paging.requestPage - 1).build().toUriString()}}"-->
<!--                           th:if="${paging.requestPage > 1}">-->
<!--                            <i class="fa-solid fa-angle-left"></i>-->
<!--                        </a>-->
<!--                        <a th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}"-->
<!--                           th:class="${'page ' + (page == paging.requestPage ? 'selected' : '')}"-->
<!--                           th:text="${page}"-->
<!--                           th:href="@{${urlBuilder.replaceQueryParam('page', page).build().toUriString()}}"></a>-->
<!--                        <a class="page"-->
<!--                           th:href="@{${urlBuilder.replaceQueryParam('page', paging.requestPage + 1).build().toUriString()}}"-->
<!--                           th:if="${paging.requestPage < paging.maxPage}">-->
<!--                            <i class="fa-solid fa-angle-right"></i>-->
<!--                        </a>-->
<!--                        <a class="page"-->
<!--                           th:href="@{${urlBuilder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}"-->
<!--                           th:if="${paging.requestPage < paging.maxPage}">-->
<!--                            <i class="fa-solid fa-angles-right"></i>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tfoot>-->
<!--        </table>-->
<!--        <div class="button-container" id="buttonContainer">-->
<!--            <a class="&#45;&#45;object-button" th:href="@{/bbs/write (bid=${board.getId()})}">글쓰기</a>-->
<!--        </div>-->
<!--    </section>-->
</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>