<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>잔이비어 :: Review</title>
    <!--  common.css 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/reviewList.css}">
    <script defer th:src="@{/bbs/resources/scripts/reviewList.js}"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<main id="smoothScroll">
    <section class="beer-detail">
        <div class="part-1">
            <div class="button-container">
                <div class="button" rel="backButton">
                    <span class="icon">
                        <i class="fa-solid fa-circle-chevron-left"></i>
                    </span>
                </div>
            </div>
            <div class="beer-image">
                <img th:src="@{/bbs/beerImage (beerIndex=${beer.getIndex()})}" alt="">
            </div>
            <div class="content-container">
                <div class="title">
                    <div class="beer-name" th:text="${beer.getName()}">바르슈타이너 프리미엄 필스너 500ml</div>
                    <span class="like-button" id="beerLikeButton">
                        <span hidden>추천</span>
                        <i class="fa-regular fa-heart visible"></i>
                        <i class="fa-solid fa-heart"></i>
                        <div class="like-count">20</div>
                    </span>
                </div>
                <div class="content">
                    <div class="page-1 visible" th:text="${beer.getDescriptionShort()}">
                        세계적 명성의 수제맥주 브랜드 미켈러(Mikkeller)와 더부스가 함께 만든 페일에일로, 대동강 물이 들어가지 않았다는 이유로
                    </div>
                    <div class="page-2" th:text="${beer.getDescription()}">
                        세계적 명성의 수제맥주 브랜드 미켈러(Mikkeller)와 더부스가 함께 만든 페일에일로, 대동강 물이 들어가지 않았다는 이유로 중간의 '동' 자를 Censored(검열되었다) 스티커로 가린 채 '대강 페일에일'로 판매되고 있다. 오렌지, 감귤, 청포도를 연상시키는 홉의 향기가 기분 좋게 후각을 자극하며, 가볍고 고소한 몰트의 맛과 쌉싸름한 끝 맛이 깔끔하게 이어지는 훌륭한 밸런스의 맥주. 가벼운 바디감과 적은 쓴맛으로 수제맥주에 익숙하지 않은 사람도 부담 없이 마실 수 있다.
                    </div>
                    <input type="button" class="detail-button" rel="detailButton" value="자세히보기">
                </div>
            </div>
        </div>
        <table class="content-table part-2">
            <tbody>
            <tr>
                <th>제조사</th>
                <td th:text="${beer.getMfr()}">바르슈타이너</td>
            </tr>
            <tr>
                <th class="even">용량</th>
                <td th:text="${beer.getVolume() == null ? '-' : beer.getVolume()}">500ml</td>
            </tr>
            <tr>
                <th> 도수</th>
                <td th:text="${beer.getDegree()}">4.8%</td>
            </tr>
            <tr>
                <th class="even">카테고리</th>
                <td th:text="${beer.getCategoryText()}">해외맥주</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="review-list">
        <div class="first">
            REVIEW
            <div class="button-container" id="buttonContainer">
                <a class="write-button" th:href="@{/bbs/reviewWrite (beerIndex=${beer.getIndex()})}">
                    <i class="fa-solid fa-square-pen"></i>
                </a>
            </div>
        </div>
        <span class="rating-container">
            <span class="star-container">
                <i class="star filled fa-solid fa-star"></i>
                <i class="star filled fa-solid fa-star"></i>
                <i class="star filled fa-solid fa-star"></i>
                <i class="star filled fa-solid fa-star"></i>
                <i class="star fa-solid fa-star"></i>
            </span>
            <span class="score">4.1</span>
            <span class="review-count" th:text="${reviewCount}">2,700</span>
            <span class="detail-review">자세히보기></span>
        </span>
        <div class="form-container">
            <span class="sort1">추천순</span>
            <div class="sort-bar">|</div>
            <span class="sort2">최신순</span>
            <form class="search-form" id="searchForm" method="get">
                <label class="label">
                    <span hidden>검색 기준</span>
                    <select name="criterion" class="--object-input" th:with="criterion = ${#request.getParameter('criterion')}">
                        <!--                    th:with는 변수 선언임-->
                        <option value="content" th:selected="${criterion == null || criterion.equals('content')}">내용</option>
                        <option value="nickname" th:selected="${criterion != null && criterion.equals('nickname')}">작성자</option>
                    </select>
                </label>
                <label class="label">
                    <span hidden>검색어</span>
                    <input type="text" class="--object-input" maxlength="50" name="keyword" placeholder="검색어를 입력해 주세요." th:value="${#request.getParameter('keyword')}">
                </label>
                <input type="submit" class="search-button" value="검색">
                <input type="hidden" name="beerIndex" th:value="${beer.getIndex()}">
            </form>
        </div>
        <div class="review-container blank" th:if="${reviewArticles} == null">
            <div>
                등록된 리뷰가 없습니다.
            </div>
        </div>
        <div class="review-container" th:each="reviewArticle : ${reviewArticles}">
            <div class="head-container">
                <div class="user-info">
                    <div class="nickname" th:text="${reviewArticle.getUserNickname()}">양파쿵야</div>
                    <span class="star-container">
                        <i class="star fa-solid fa-star" th:classappend="${reviewArticle.getScore() >= 1 ? 'filled' : ''}"></i>
                        <i class="star fa-solid fa-star" th:classappend="${reviewArticle.getScore() >= 2 ? 'filled' : ''}"></i>
                        <i class="star fa-solid fa-star" th:classappend="${reviewArticle.getScore() >= 3 ? 'filled' : ''}"></i>
                        <i class="star fa-solid fa-star" th:classappend="${reviewArticle.getScore() >= 4 ? 'filled' : ''}"></i>
                        <i class="star fa-solid fa-star" th:classappend="${reviewArticle.getScore() >= 5 ? 'filled' : ''}"></i>
                    </span>
                    <span class="created-on" th:text="${#dates.format(reviewArticle.getModifiedOn(), 'yyyy-MM-dd')}">2022.12.15</span>
                </div>
                <span class="menu-icon" th:if="${session.user != null && session.user.getEmail().equals(reviewArticle.getUserEmail())}">
                    <i class="fa-solid fa-bars"></i>
                </span>
            </div>
            <div class="beer-info" th:text="${reviewArticle.getBeerName()}">바르슈타이너 프리미엄 필스너 500ml</div>
            <div class="review-content">
                <div class="good-review">
                    <div class="icon">
                            <i class="fa-solid fa-face-smile"></i>
                    </div>
                    <div class="text" th:text="${reviewArticle.getContentGood()}">진짜 너무 맛있고요 산미도 적당하고 탄산 미쳤슴니다. 편의점에서 쟁여둘 예정임
                독일 맥주 믿고 먹음진짜 너무 맛있고요 산미도 적당하고 탄산 미쳤슴니다. 편의점에서 쟁여둘 예정임
                독일 맥주 믿고 먹음진짜 너무 맛있고요 산미도 적당하고 탄산 미쳤슴니다. 편의점에서 쟁여둘 예정임
                독일 맥주 믿고 먹음진짜 너무 맛있고요 산미도 적당하고 탄산 미쳤슴니다. 편의점에서 쟁여둘 예정임
                독일 맥주 믿고 먹음진짜 너무 맛있고요 산미도 적당하고 탄산 미쳤슴니다. 편의점에서 쟁여둘 예정임
                독일 맥주 믿고 먹음</div>
                </div>
                <div class="bad-review">
                    <div class="icon">
                            <i class="fa-solid fa-face-frown"></i>
                    </div>
                    <div class="text" th:text="${reviewArticle.getContentBad()}">탄산이 넘 쎄서 목이 좀 따가워용 ㅠㅠ 그래도 시원해서 큰 단점은 아닌듯</div>
                </div>
            </div>
            <div class="foot">
                <span class="like-count">7</span>
                <span>명이 추천 함</span>
                <input class="review-like" id="reviewLikeButton" type="button" value="추천하기">
                <input type="button" class="declaration" id="declaButton" value="신고하기">
            </div>
        </div>
        <div class="page-container"
             th:with="urlBuilder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
            <a class="page"
               th:href="@{${urlBuilder.replaceQueryParam('page', paging.minPage).build().toUriString()}}"
               th:if="${paging.requestPage > 1}">
                <i class="fa-solid fa-angles-left"></i>
            </a>
            <a class="page"
               th:href="@{${urlBuilder.replaceQueryParam('page', paging.requestPage - 1).build().toUriString()}}"
               th:if="${paging.requestPage > 1}">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            <a th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}"
               th:class="${'page ' + (page == paging.requestPage ? 'selected' : '')}"
               th:text="${page}"
               th:href="@{${urlBuilder.replaceQueryParam('page', page).build().toUriString()}}"></a>
            <a class="page"
               th:href="@{${urlBuilder.replaceQueryParam('page', paging.requestPage + 1).build().toUriString()}}"
               th:if="${paging.requestPage < paging.maxPage}">
                <i class="fa-solid fa-angle-right"></i>
            </a>
            <a class="page"
               th:href="@{${urlBuilder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}"
               th:if="${paging.requestPage < paging.maxPage}">
                <i class="fa-solid fa-angles-right"></i>
            </a>
        </div>
    </section>
</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>