<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>잔이비어 :: Review 글쓰기</title>
  <!--  common.css 연결  -->
  <th:block th:replace="~{fragments/head :: common}"></th:block>
  <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/reviewWrite.css}">
  <script defer th:src="@{/bbs/resources/scripts/reviewWrite.js}"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<main id="smoothScroll">
  아직 구현 안함
</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>