<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>잔이비어 :: 글 읽</title>
    <script th:if="${basicArticle==null}">
        alert('존재하지 않는 게시글 입니다.');
        window.history.back();
    </script>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/basicBbs/resources/stylesheets/read.css}">
    <script defer th:src="@{/basicBbs/resources/scripts/read.js}"></script>
</head>
<body th:if="${basicArticle != null}">
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<main class="--main main">
    <div class="--content content">
        <h1 class="title" th:text="${board.getText()}"></h1>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <td th:text="${basicArticle.getIndex()}">17</td>
                <th >제목</th>
                <td th:text="${basicArticle.getTitle()}" colspan="3" >자유게시판 첫 글</td>
            </tr>
            <tr>
                <th>조회수</th>
                <td th:text="${basicArticle.getView()}">1</td>
                <th>작성자</th>
                <td th:text="${basicArticle.getUserNickname()}"></td>
                <th>작성 일시</th>
                <td th:text="${#dates.format(basicArticle.getWrittenOn(),'yyyy-MM-dd HH:mm:ss')}">2000-01-01 00:00:00</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="6">
                    <div class="content-container">
                        <p th:utext="${basicArticle.getContent()}">제가... 보이시나요...?</p>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="button-container">
                        <a class="--object-button">목록</a>
                        <a class="--object-button toggle" href="#">추천</a>
                        <span class="spring"></span>
                        <a class="--object-button modify" th:if="${session.user != null && session.user.getEmail().equals(basicArticle.getUserEmail())}">수정</a>
                        <a class="--object-button delete" href="#" id="deleteButton" th:if="${session.user != null && session.user.getEmail().equals(basicArticle.getUserEmail())}">삭제</a>
                    </div>
                </td>
            </tr>
            <tr class="comment-row">
                <td colspan="6">
                    <form class="comment-form" id="commentForm" th:if="${session.user != null}">
                        <label class="label">
                            <span hidden>댓글 작성</span>
                            <input class="--object-input" maxlength="100" name="content" placeholder="댓글을 입력해주세요." type="text">
                        </label>
                        <input name="aid" type="hidden" th:value="${basicArticle.getIndex()}">
                        <input class="--object-button" type="submit" value="작성">
                    </form>
                    <div class="comment-container" id="commentContainer">
                        <div class="comment modifying liked mine">
                            <div class="head">
                                <span class="writer">관리자</span>
                                <span class="dt">2022-01-01 00:00:00</span>
                                <span class="spring"></span>
                                <span class="action-container">
                                    <a class="action reply" href="#">답글 달기</a>
                                    <a class="action modify" href="#">수정</a>
                                    <a class="action delete" href="#">삭제</a>
                                    <a class="action cancel" href="#">취소</a>
                                </span>
                            </div>
                            <div class="body">
                                <div class="content">
                                    <span class="text">댓글 내용임!</span>
                                    <div class="like">
                                        <a href="#" class="toggle">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                        <span class="count">9,999</span>
                                    </div>
                                </div>
                                <form class="modify-form">
                                    <label class="label">
                                        <span hidden>댓글 수정</span>
                                        <input class="--object-input" maxlength="100" name="content" placeholder="댓글을 입력해 주세요." type="text">
                                    </label>
                                    <input class="--object-button" type="submit" value="수정">
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>