<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: COMMUNITY</title>
    <!--  common.css 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/home/resources/stylesheets/community.css}">
    <script defer th:src="@{/home/resources/scripts/community.js}"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>

<!--  main  -->
<main>
    <section class="home-section1" id="homeSection1">
        <!--  Section1  -->
        <div class="title-box1" id="titleBox1">
            <div class="title">COMMUNITY</div>
            <div class="title-content">맥주와 관련한 다양한 정보를 나눌 수 있는
                잔이비어의 커뮤니티를 소개합니다.
            </div>
        </div>
        <!--  Section2  -->
        <div class="title-box2" id="titleBox2">
            <table>
                <tbody>
                <tr>
                    <td class="free">
                        <div class="free-title">
                            자유게시판
                        </div>
                        <div class="free-content">
                            <div>맥주에 대해 자유롭게 글을 쓰고</div>
                            <div>의견을 나눌 수 있는 공간입니다.</div>
                            <div class="free-button">
                                <a th:href="@{/basicBbs/list (bid=free)}">GO</a>
                            </div>
                        </div>
                    </td>
                    <td class="team">
                        <div class="team-title">
                            모임게시판
                        </div>
                        <div class="team-content">
                            <div>맥주 관련 모임을</div>
                            <div>추진할 수 있는 공간입니다.</div>
                            <div class="team-button">
                                <a th:href="@{/basicBbs/list (bid=meeting)}">GO</a>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>