<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>잔이비어 :: FESTIVAL</title>
    <!--  common.css 연결  -->
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/home/resources/stylesheets/festival.css}">
    <script defer th:src="@{/home/resources/scripts/festival.js}"></script>
</head>
<body>
<!--  header  -->
<th:block th:replace="~{fragments/body :: header}"></th:block>
<!--무언가를 불러오고 있습니다 loading-->
<th:block th:replace="~{fragments/body :: cover}"></th:block>

<!--  main  -->
<main id="smoothScroll">
<!--    margin top 10rem 지정-->
    <div class="title">
        <i>FESTIVAL</i>
    </div>
    <div class="festival-container">
        <div><img class="image" src="https://img.insight.co.kr/static/2019/06/29/700/314b2za481tttx0f25aq.jpg"></div>
        <div><img class="image" src="http://www.chemicalnews.co.kr/news/photo/202106/3636_10174_4958.jpg"></div>
        <div><img class="image" src="https://images.mypetlife.co.kr/content/uploads/2019/09/09152804/ricky-kharawala-adK3Vu70DEQ-unsplash.jpg"></div>
        <div><img class="image" src="https://blog.kakaocdn.net/dn/bByk0l/btqUJXoXRvp/G17P4veBAF8PuOV7qYX7r1/img.png"></div>
    </div>
</main>
<!--  footer  -->
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>