@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
/*COMMUNITY 타이틀 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/*GO 버튼*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

html {
    width: 100%;
    height: 100%;
}


body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*main*/
body > main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*상단 타이틀 section*/
body > main > .home-section1 {
    width: 100%;
    height: 100%;
    /* margin-bottom: 3rem;*/
}

/*homeSection1*/
body > main > .home-section1 > .title-box1 {
    background-image: url("/resources/images/home-background.jpg");
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 47%;
    /*position: fixed;*/

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/*PRODUCT 타이틀 글씨체*/
body > main > .home-section1 > .title-box1 > .title {
    font-size: 3rem;
    font-family: 'Secular One', sans-serif;
}

/*다양한 맥주에 대 ~*/
body > main > .home-section1 > .title-box1 > .title-content {
    font-family: 'Gowun Batang', serif;
    margin-bottom: 4.5rem;
}


/*section2 파트, product, community 파트 참조*/


body > main > .home-section1 > .title-box2 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    object-fit: fill;
    color: black;

}

body > main > .home-section1 > .title-box2 > .festival-container{
    padding-top: 4rem;
    padding-bottom: 6rem;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

body > main > .home-section1 > .title-box2 > .festival-container:nth-child(odd){
    margin-left: 4rem;
}

body > main > .home-section1 > .title-box2 > .festival-container:nth-child(even){
    margin-right: 4rem;
}

body > main > .home-section1 > .title-box2 > .festival-container:hover{
    transform:scale(1.2);
    transition: transform .5s;
}


body > main > .home-section1 > .title-box2 > .festival-container > img:hover{
    opacity: 100%;
}

body > main > .home-section1 > .title-box2 > .festival-container > img{
    height: 35rem;
    width: 35rem;
    opacity: 50%;
}



body > main > .home-section1 > .title-box2 > .festival-container > .festival-title{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: 1000;
}


body > main > .home-section1 > .festival-admin{
    background-color: grey;
    cursor: pointer;
    position: absolute;
    border-radius: 5%;
    top: 29rem;
    right: 4rem;
    color: black;
    border: black 1px solid;
}


body > main > .home-section1 > .festival-admin:hover{
    background-color: beige;
    cursor: pointer;
    position: absolute;
    border-radius: 5%;
    top: 29rem;
    right: 4rem;
    color: black;
    border: black 1px solid;
}