@charset "UTF-8";


/*homeSection1 - 대문*/
body > main > .home-section1 {
    background-color: #e8d5a4;
    padding-top: 8rem;
    padding-bottom: 9.5rem;
}

body > main > .home-section1 > .title-box {
    padding-top: 5rem;
}



/*homeSection2*/
body > main > .home-section2 {
    background-color: #8a99b9;
    padding-top: 8rem;
    padding-bottom: 9.5rem;
}

body > main > .home-section2 > .title-box {
    padding-top: 5rem;
}

/*homeSection3 */
body > main > .home-section3 {
    background-color: #b0f3e6;
    padding-top: 8rem;
    padding-bottom: 9.5rem;
}

body > main > .home-section3 > .title-box {
    padding-top: 5rem;
}