@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');


/*homeSection1*/
body > main > .home-section1 {
    background-color: rgb(67, 67, 72);

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*commonButton*/
body > main > .home-section1 > .title-box1 > .home-button{
    margin-top: 3rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > main > .home-section1 > .title-box1 > .home-button > .commonButton {
    text-decoration: none;
}


/*옥같은 잔치를 벌여*/
body > main > .home-section1 > .title-box1 > .title1 {
    font-size: 3rem;
    font-family: 'Gowun Batang', serif;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*꽃에 앉고 달에 취하니*/
body > main > .home-section1 > .title-box1 > .title2 {
    font-size: 3rem;
    font-family: 'Gowun Batang', serif;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*homeSection2*/
body > main > .home-section2 {
    background-color: rgb(52, 52, 56);
}

body > main > .home-section2 > .title-box {
    padding-top: 5rem;
}

/*homeSection3 */
body > main > .home-section3 {
    background-color: rgb(41, 41, 44);
}

body > main > .home-section3 > .title-box {
    padding-top: 5rem;
}