@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');


/*main*/
body > main {
    background-image: url("/resources/images/home-background.png");
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

/*homeSection1*/
body > main > .home-section1 {
    /*background-color: rgb(67, 67, 72);*/

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*commonButton*/
body > main > .home-section1 > .title-box1 > .home-button {
    margin-top: 3rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > main > .home-section1 > .title-box1 > .home-button > .commonButton {
    text-decoration: none;
    padding: 1rem 3rem;
}


/*옥같은 잔치를 벌여*/
body > main > .home-section1 > .title-box1 > .title1 {
    font-size: 3rem;
    font-family: 'Gowun Batang', serif;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*꽃에 앉고 달에 취하니*/
body > main > .home-section1 > .title-box1 > .title2 {
    font-size: 3rem;
    font-family: 'Gowun Batang', serif;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*homeSection2*/
body > main > .home-section2 > .title-box2 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*homeSection3 */
body > main > .home-section3 > .title-box2 {
    padding-top: 5rem;
}




/*이상하면 지우기*/
.content {
    margin-left: 110px;
    margin-right: 110px;
}
.content ul.menu { margin: 0; }
.content ul.menu li {
    margin-top: 44px;
    margin-bottom: 44px;
    margin-right: 50px;
    display: inline-block;
    list-style-type: none;
}
.content ul.menu li.right {
    margin-top: 22px;
    margin-right: 0;
    margin-left: 22px;
}
.content ul.menu li a {
    color: black;
    font-family: HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", "Arial Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.content ul.menu .right {
    float: right;
}

#buy {
    color: white;
    width: 105px;
    height: 49px;
    font-family: HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", "Arial Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background: linear-gradient(to bottom, #aaefff, #7ce0ff);
    background-color: #aaefff;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    text-transform: uppercase;
}

#main {
    /*background-image: linear-gradient(to bottom, #e3d5e4, #ffdddb);*/
    /*width: 100%;*/
    position: absolute;
}

.control {
    background-color: gray;
    color: white;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 23px;
    line-height: 37px;
    font-size: 45px;
    font-family: HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", "Arial Bold", Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 425px;
    cursor: pointer;
}

.control:hover {
    background-color: #4169E1;
}

.control.disabled {
    /*cursor: normal;*/
    opacity: 0.5;
}

.control.disabled:hover {
    background-color: gray;
    cursor: not-allowed;
}

#main .content {
    padding-top: 200px;
}

#main .carousel {
    text-align: center;
    list-style: none;
}

#main .carousel-viewport {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding-bottom: 25px;
    margin-left: 27px;
    margin-right: 27px;
}

#main .carousel-viewport li.active {
    max-width: 780px;
    display: inline-block;
}

#main .carousel-viewport .images {
    list-style: none;
}

#main .carousel-viewport li.hidden {
    display: none;
}

#main .carousel-viewport li {
    height: 450px;
    background-size: contain;
    border-radius: 16px;
}

#main .carousel-viewport li.previous,
#main .carousel-viewport li.next{
    background-size: cover;
    display: inline-block;
    opacity: 0.5;
    overflow: hidden;
    width: 50px;
    height: 350px;
    top: 12.5%;
    position: relative;
    bottom: 50px;
}

#main .carousel-viewport li.previous {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#main .carousel-viewport li.storm {
    background-image: url("https://images.unsplash.com/photo-1502801921575-9abf0fb78220?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=10b2264a5cf6c89efe38d7ccf055286d");
}

#main .carousel-viewport li.colorwall {
    background-image: url("https://images.unsplash.com/photo-1489421931051-521ec235bbca?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=985a2de080b743332c198a3d0fc9d9b8");
}

/*#main .carousel-viewport li.city {*/
/*    background-image: url("https://images.unsplash.com/photo-1510854074775-1ac0d59dee2a?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=33ce3d9b271fc1f251cfe77cbd552a0b");*/
/*}*/

#main .carousel-viewport li.active {
    width: 780px;
}
#main .carousel-viewport li.next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.marker {
    color: white;
    font-size: 48px;
    list-style: none;
    padding: 0;
    text-align: center;
}

.marker li {
    display: inline-block;
}

.token {
    display: inline-block;
    border-radius: 90%;
    background: transparent;
    width: 10px;
    height: 10px;
    border:solid white 2px;
    vertical-align: middle;
    cursor: pointer;
}
.active {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100%;
    margin: 3px;
    cursor: default;
}
